#zonaOfertas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 170px;
  padding-top: 3%;
}

.zonaTituloOfertas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textOfertas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.textOfertas h1 {
  font-size: 100px;
  width: 800px;
}
.textOfertas p {
  font-size: 70px;
}

.contenidoTituloOfertas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 2%;
}

.contenidoTituloOfertas > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.contenidoTituloOfertas > p {
  font-size: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

#ofertasDisponibles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#ofertasExclusivas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cajaOferta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:250px;
}

.producto {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  border-radius: 5%;
  background-color: #766558;
}

.producto:hover {
  border-radius: 5%;
  background-color: #725641;
}

/*Ventana modal*/
.ventana-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.contenido-ventana-modal {
  background-color: #766558;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.cerrar {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: #FFEB96;
}

#cabezeraModal {
  display: flex;
  flex-direction: row-reverse;
  gap: 180px;
  align-items: center;
}

#cabezeraModal h3:hover {
  color: #FFEB96;
}

#codigo {
  display: flex;
  background-color: #67584C;
  padding: 2% 5%;
  color: #FFEB96;
}

@media (max-width: 1150px) {
  #zonaOfertas {
    gap: 30px;
  }

  .zonaTituloOfertas {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .textOfertas {
    align-items: center;
  }
  .textOfertas > h1 {
    font-size: 50px;
  }
  .textOfertas > p {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .textOfertas > h1 {
    font-size: 30px;
  }
  .textOfertas > p {
    font-size: 30px;
  }
  .zonaTituloOfertas img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 650px) {
  .textOfertas > h1 {
    font-size: 25px;
  }
  .textOfertas > p {
    font-size: 30px;
  }
  .zonaTituloOfertas img {
    width: 200px;
    height: 200px;
  }
}