body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    text-align: center;
}

h3:hover {
  color: #FFEB96;
}

img {
  border-radius: 5%;
}

.prod {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.producto {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  border-radius: 5%;
  background-color: #766558;
}

.producto:hover {
  border-radius: 5%;
  background-color: #725641;
}

/*Ventana modal*/
.ventana-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  
  .contenido-ventana-modal {
    background-color: #766558;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  
  .cerrar {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .cerrar:hover {
    color: #FFEB96;
  }

  #cabezeraModal {
    display: flex;
    flex-direction: row-reverse;
    gap: 180px;
    align-items: center;
  }
  